@page
@model ToDoListModel
@{
    ViewData["Title"] = "ToDo List";
}
<h1>@ViewData["Title"]</h1>

<form  method="post" class="mb-3">
  <div class="mb-3">
    <label for="todotask" class="form-label">Task Description</label>
    <input type="text" class="form-control" id="todotask" aria-describedby="todoHelp" name="todotask">
    <div id="todoHelp" class="form-text">What do you want to do?</div>
  </div>
  <button type="submit" class="btn btn-primary" asp-page-handler="Insert">Submit</button>


<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">Task</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var todo in @Model.todos)
    {
        <tr>
            <td>@todo.TaskDescription</td>
            <td>
                @if(todo.IsCompleted)
                {
                    @Html.Raw("&#x2713;")
                }
                else
                {
                        <button type="submit" class="btn btn-outline-success" asp-page-handler="MarkDone">Mark Done</button>
                        <input type="hidden" name="id" value="@todo.RowKey" />
                }
            </td>
        </tr>
    }
    </tbody>
</table>
</form>