
<div class="card card-body">
    <h2>@Model.listName</h2>
<form  method="post" class="mb-3">
  <div class="mb-3">
    <label for="todotask" class="form-label">Task Description</label>
    <input type="text" class="form-control" id="todotask" aria-describedby="todoHelp" name="todotask">
    <input type="hidden" class="form-control" id="listName" aria-describedby="listName" name="listName" value="@Model.listName">
    <div id="todoHelp" class="form-text">What do you want to do?</div>
  </div>
  <button type="submit" class="btn btn-primary" asp-page-handler="Insert">Submit</button>
</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Action</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>

    
    @foreach(var todo in @Model.todoList)
    {
        
        <form  method="post" class="mb-3">
        <tr>
            <input type="hidden" name="rowkey" value="@todo.RowKey" />
            <input type="hidden" name="listName" value="@Model.listName" />
            <td>@todo.TaskDescription</td>
            <td>
                @if(todo.IsCompleted)
                {
                    @Html.Raw("&#x2713;")
                    <button type="submit" class="btn btn-outline-warning" asp-page-handler="MarkDone">Undo</button>
                }
                else
                {
                    <button type="submit" class="btn btn-outline-success" asp-page-handler="MarkDone">Mark Done</button>
                }
            </td>
            <td>
                <button type="submit" class="btn btn-outline-danger" asp-page-handler="DeleteToDo">Delete Item</button>
            </td>
        </tr>
        </form>
    }
    
    </tbody>
</table>

</div>